@using WebApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="col col-sm-12 col-md-6 col-md-offset-3 text-center">
    <h2 class="heading">Inloggen</h2>

@using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()
      
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ScoNr, new { @class = "form-control", @placeholder = "SCO-nummer"})
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Wachtwoord" })
                        
                    </div>

                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                 </div>
    
    <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-login" />
}
    <a href='@Url.Action("Register", "Account", "Account")' class="btn btn-lg btn-primary btn-register">
        Registreren
    </a>
</div>