
@{
    ViewBag.Title = "Reserveren";
}
<div id="site-wrapper">
    <div id="site-canvas">
        <div class="content container">

            <div class="col col-table col-sm-12 col-md-10 col-md-offset-1 text-center">
                <h2 class="heading">Selecteer een les</h2>
                <h2 class="sub-heading"><img src='~/Content/Images/arrow-left.png' width="10%" class="arrow-l" />Week 23><img src="~/Content/Images/arrow-right.png" width="10%" class="arrow-r" /></h2>
                <table class="table">

                    <tr>
                        <td>
                            <input type="checkbox" id="cursus" checked />
                            <label for="cursus">Cursussen</label>
                        </td>
                        <td>
                            <input type="checkbox" id="groepsles" checked />
                            <label for="groepsles">Groepslessen</label>
                        </td>
                    </tr>

                    <tr class="tr-bg-gray">
                        <td>
                            <h4 class="ta-l mar-b-zero">
                                Schaatsen
                            </h4>
                            <p class="sub-res ta-l mar-zero">
                                Maandag 17 maart 2014
                            </p>
                            <p class="sub-res ta-l mar-zero">
                                10:00 - 13:00
                            </p>
                        </td>
                        <td class="lh-55">
                            <a href="#" class="btn btn-lg btn-primary btn-inschrijven">Inschrijven</a>
                        </td>
                        <td class="lh-55">
                            <a href='@Url.Action("lesDetail", "Reserveren", "Reserveren")'>
                                <img src='@Url.Content("~/Content/Images/arrow.png")' />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="ta-l mar-b-zero">
                                Pole Fitness
                            </h4>
                            <p class="sub-res ta-l mar-zero">
                                Dinsdag 18 maart 2014
                            </p>
                            <p class="sub-res ta-l mar-zero">
                                12:00 - 14:00
                            </p>
                        </td>
                        <td class="lh-55">
                            <a href="#" class="btn btn-lg btn-primary btn-uitschrijven">Uitschrijven</a>
                        </td>
                        <td class="lh-55">
                            <a href='@Url.Action("lesDetail", "Reserveren", "Reserveren")'>
                                <img src='@Url.Content("~/Content/Images/arrow.png")' />
                            </a>
                        </td>
                    </tr>

                    <tr class="tr-bg-gray">
                        <td>
                            <h4 class="ta-l mar-b-zero">
                                Dansen
                            </h4>
                            <p class="sub-res ta-l mar-zero">
                                Woensdag 19 maart 2014
                            </p>
                            <p class="sub-res ta-l mar-zero">
                                14:00 - 16:00
                            </p>
                        </td>
                        <td class="lh-55">
                            <a href="#" class="btn btn-lg btn-primary btn-inschrijven">Inschrijven</a>
                        </td>
                        <td class="lh-55">
                            <a href='@Url.Action("lesDetail", "Reserveren", "Reserveren")'>
                                <img src='@Url.Content("~/Content/Images/arrow.png")' />
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

