@using WebApplication.Models
@using System.Globalization
@Scripts.Render("~/bundles/agenda")
@Scripts.Render("~/bundles/reserveren")
@{
    ViewBag.Title = "Week Overzicht";
    List<Les> lessen = (List<Les>)ViewData["lessen"];
    DateTime beginDate = (DateTime)ViewData["beginDate"];
    DateTime eindDate = (DateTime)ViewData["eindDate"];
    CultureInfo nl = new CultureInfo("nl");
    int totalDagen = (int)(eindDate - beginDate).TotalDays;
    double columnBreedte = 100 / totalDagen;
    List<String> sportcodes = new List<string>();
    foreach (Les l in lessen)
    {
        if(!sportcodes.Contains(l.Sportaanbod.Sportcode)){
           sportcodes.Add(l.Sportaanbod.Sportcode);
        }
    }
}
<div class="col col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="heading text-center">Week Overzicht</h2>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/Reserveren/WeekOverzicht">Weekoverzicht</a>
        </li>
        <li><a href="/Reserveren/KomendeLessen">Komende lessen</a></li>
        <li><a href="/Reserveren/MijnInteresses">Mijn interesses</a></li>
    </ul>
    <div class="col-md-4">
        <button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#filters">Filters</button>
        <div id="filters" class="collapse">

            <select id="sportcode-filter" multiple class="form-control">
                @foreach (String s in sportcodes)
                {
                    <option>@s.ToLower()</option>
                }
            </select>
            <button type="button" id="zoeken" class="btn btn-xs">Zoeken</button>
        </div>
    </div>
    <div class="agenda">
        <h3>@beginDate.ToShortDateString() t/m @eindDate.AddDays(-1).ToShortDateString()</h3>
        @for (int i = 0; i < totalDagen; i++)
        {
            <div class="day col-xs-12 " style='width:@columnBreedte%'>
                <h4 class="text-center">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(beginDate.AddDays(i).ToString("dddd"))</h4>
                @foreach (Les l in lessen)
                {
                      string cssOpmaak = "";

                      string eventString = l.begintijd.ToString("HH:mm") + "-" + l.eindtijd.ToString("HH:mm");
                      LesStatus lesStatus = l.Lesstatus;
                      if (lesStatus == LesStatus.Voorbij)
                      {
                          cssOpmaak = "voorbij";
                      }
                      else if (lesStatus == LesStatus.Vervallen)
                      {
                          cssOpmaak = "vervallen";
                          eventString = "Vervallen";
                          
                      }
                      else if (lesStatus == LesStatus.Uitverkocht)
                      {
                          cssOpmaak = "vol";
                          eventString = "Vol";
                      }
                    if (l.begintijd.Day == beginDate.AddDays(i).Day)
                    {
                        <div class="row event @cssOpmaak">
                            <a id="@l.les_no" class="fill-div @if(l.Lesstatus == LesStatus.Beschikbaar){@Html.Raw("btn-inschrijven")}">
                                <h4 class="ta-l mar-b-zero">
                                    @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(l.Sportaanbod.Sportcode.ToLower())
                                </h4>   
                                <p class="sub-res ta-l mar-zero">
                                    @eventString
                                </p>
                            </a>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>