@using WebApplication.Models
@using System.Globalization
@Scripts.Render("~/bundles/agenda")
@{
    ViewBag.Title = "Week Overzicht";
    List<Les> lessen = (List<Les>)ViewData["lessen"];
    DateTime beginDate = (DateTime)ViewData["beginDate"];
    DateTime eindDate = (DateTime)ViewData["eindDate"];
    CultureInfo nl = new CultureInfo("nl");
    int totalDagen = (int)(eindDate - beginDate).TotalDays;
    double columnBreedte = 100 / totalDagen;
}
<div class="col col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="heading text-center">Week Overzicht</h2>
    <button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#filters">Filters</button>
    <div id="filters" class="collapse">
            
        <div class="col-md-4">
            <div class="form-group">
                <label for="sportcode-filter">Sportcode:</label>
                <input type="text" class="form-control" id="sportcode-filter" placeholder="Sportcode">
                <label for="plaatsen-filter">Aantal plekken vrij:</label>
                <input type="number" class="form-control" id="plaatsen-filter" placeholder="Plekken vrij">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="tijd-filter">Begintijd:</label>
                <select class="form-control" id="begintijd-filter">
                        <option value=""></option>
                    @for (int i = 0; i <= 14; i++)
                    {
                        <option value="@DateTime.Today.AddHours(i + 8).ToShortTimeString()">@DateTime.Today.AddHours(i + 8).ToShortTimeString() tot @DateTime.Today.AddHours(i + 9).ToShortTimeString()</option>
                    }
                </select>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="instellingen-filter">Instellingen Bewaren?
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
        <button type="button" id="zoeken" class="btn btn-xs">Zoeken</button>
    </div>
    <div class="agenda">
        <h3>@beginDate.ToShortDateString() t/m @eindDate.AddDays(-1).ToShortDateString()</h3>
        @for (int i = 0; i < totalDagen; i++)
        {
            <div class="day col-xs-12 " style='width:@columnBreedte%'>
                <h4 class="text-center">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(beginDate.AddDays(i).ToString("dddd"))</h4>
                @foreach (Les l in lessen)
                {
                      string cssOpmaak = "";
                      string eventString = l.begintijd.ToString("HH:mm") + "-" + l.eindtijd.ToString("HH:mm");
                      LesStatus lesStatus = l.Lesstatus;
                      if (lesStatus == LesStatus.Voorbij)
                      {
                          cssOpmaak = "voorbij";
                      }
                      else if (lesStatus == LesStatus.Vervallen)
                      {
                          cssOpmaak = "vervallen";
                          eventString = "Vervallen";
                      }
                      else if (lesStatus == LesStatus.Uitverkocht)
                      {
                          cssOpmaak = "vol";
                          eventString = "Vol";
                      }
                    if (l.begintijd.Day == beginDate.AddDays(i).Day)
                    {
                        <div class="row event @cssOpmaak">
                            <a href="/Reserveren/Les/@l.les_no" class="fill-div">
                                <h4 class="ta-l mar-b-zero">
                                    @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(l.Sportaanbod.Sportcode.ToLower())
                                </h4>   
                                <p class="sub-res ta-l mar-zero">
                                    @eventString
                                </p>
                            </a>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>