@using WebApplication.Models
@using System.Globalization
@Scripts.Render("~/bundles/agenda")
@{
    ViewBag.Title = "Week Overzicht";
    List<Les> lessen = (List<Les>)ViewData["lessen"];
    DateTime beginDate = (DateTime)ViewData["beginDate"];
    DateTime eindDate = (DateTime)ViewData["eindDate"];
    CultureInfo enAU = new CultureInfo("nl");
    int totalDagen = (int)(eindDate - beginDate).TotalDays;
    double columnBreedte = 100 / totalDagen;
}
<div class="col col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="heading text-center">Week Overzicht</h2>
    <div class="agenda">
        <h3>@beginDate.ToShortDateString() t/m @eindDate.AddDays(-1).ToShortDateString()</h3>
        @for (int i = 0; i < totalDagen; i++)
        {
            <div class="day col-xs-12 " style='width:@columnBreedte%'>
                <p><b>@beginDate.AddDays(i).ToShortDateString()</b></p>
                @foreach (Les l in lessen)
                {
                    if (l.begintijd.Day == beginDate.AddDays(i).Day)
                    {
                        <div class="row event geweest">
                            <a href="/Reserveren/Les/@l.les_no" class="fill-div">
                                <h4 class="ta-l mar-b-zero">
                                    @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(l.Sportaanbod.Sportcode.ToLower())
                                </h4>   
                                <p class="sub-res ta-l mar-zero">
                                    @l.begintijd.ToString("HH:mm") - @l.eindtijd.ToString("HH:mm")
                                </p>
                            </a>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>