@using WebApplication.Models
@{
    ViewBag.Title = "Log in";
}

<div class="col col-sm-12 col-md-6 col-md-offset-3 text-center">
    <h2 class="heading">Inloggen</h2>
    @using (Html.BeginForm("Login", "Login"))
{
    <div class="row">
        @Html.TextBox("gebruikersnaam", "", new { placeholder = "SCO-nummer", @class = "form-control"}) 
    </div>
    <div class="row">
        @Html.TextBox("wachtwoord", "", new { placeholder = "Wachtwoord", @class = "form-control"})
    </div>
        @Html.CheckBox("onthouden");    
        @Html.Label("Onthoud mij");

        if (TempData["message"] != null)
        {
            <span>@TempData["message"]</span>
        }
        <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-login" />
        <a href='@Url.Action("Register", "Account", "Account")' class="btn btn-lg btn-primary btn-register">
            Registreren
        </a>
    }
    
</div>