@using WebApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="col col-sm-12 col-md-6 col-md-offset-3 text-center">
    <h2 class="heading">Inloggen</h2>
    @using (Html.BeginForm("Login", "Login"))
    {
        @Html.TextBox("gebruikersnaam");
        @Html.TextBox("wachtwoord");
        
        @Html.CheckBox("Onthoud mij");
        @Html.Label("Onthoud mij")
    }
    <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-login" />
    <a href='@Url.Action("Register", "Account", "Account")' class="btn btn-lg btn-primary btn-register">
        Registreren
    </a>
</div>